<app-navbar></app-navbar>




<!--<table  mat-table [dataSource]="dataSource" class="mat-elevation-z8">-->

<!--  &lt;!&ndash;- Note that these columns can be defined in any order.-->
<!--        The actual rendered columns are set as a property on the row definition" &ndash;&gt;-->

<!--  &lt;!&ndash; Position Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="position">-->
<!--    <th mat-header-cell *matHeaderCellDef> No. </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.position}} </td>-->
<!--  </ng-container>-->

<!--  &lt;!&ndash; Name Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="name">-->
<!--    <th mat-header-cell *matHeaderCellDef> Name </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.name}} </td>-->
<!--  </ng-container>-->



<!--  &lt;!&ndash; Weight Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="Description">-->
<!--    <th mat-header-cell *matHeaderCellDef> Description </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.Description}} </td>-->
<!--  </ng-container>-->

<!--  &lt;!&ndash; Symbol Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="Run_Time">-->
<!--    <th mat-header-cell *matHeaderCellDef> Run_Time </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.Run_Time}} </td>-->
<!--  </ng-container>-->
<!--  &lt;!&ndash; Status Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="status">-->
<!--    <th mat-header-cell *matHeaderCellDef> Status </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.status}} </td>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="extime">-->
<!--    <th mat-header-cell *matHeaderCellDef> execution time </th>-->

<!--    <td mat-cell *matCellDef="let element"> {{element.extime}} </td>-->
<!--  </ng-container>-->

<!--  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->

<!--</table>-->

<!--<table  mat-table class="mat-elevation-z8" *ngIf="check">-->

<!--  &lt;!&ndash;- Note that these columns can be defined in any order.-->
<!--        The actual rendered columns are set as a property on the row definition" &ndash;&gt;-->

<!--  &lt;!&ndash; Position Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="position">-->
<!--    <th mat-header-cell *matHeaderCellDef><input type="text" style="width:20px"> </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.position}} </td>-->
<!--  </ng-container>-->

<!--  &lt;!&ndash; Name Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="name">-->
<!--    <th mat-header-cell *matHeaderCellDef> Name </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.name}} </td>-->
<!--  </ng-container>-->



<!--  &lt;!&ndash; Weight Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="Description">-->
<!--    <th mat-header-cell *matHeaderCellDef> Description </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.Description}} </td>-->
<!--  </ng-container>-->

<!--  &lt;!&ndash; Symbol Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="Run_Time">-->
<!--    <th mat-header-cell *matHeaderCellDef> Run_Time </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.Run_Time}} </td>-->
<!--  </ng-container>-->
<!--  &lt;!&ndash; Status Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="status">-->
<!--    <th mat-header-cell *matHeaderCellDef> Status </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.status}} </td>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="extime">-->
<!--    <th mat-header-cell *matHeaderCellDef> execution time </th>-->

<!--    <td mat-cell *matCellDef="let element"> {{element.extime}} </td>-->
<!--  </ng-container>-->

<!--  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->


<!--</table>-->
<!--<input type="text" [(ngModel)]="dataSource[ 0].name" placeholder="id" />-->

<table class="table" >
  <thead class="thead-dark">
  <tr >
    <th *ngFor="let title of this.displayedColumns" scope="col">{{title}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let element of this.lstTask;let indexOfElement = index ">
    <th scope="row">{{indexOfElement+1}}</th>
      <td *ngFor=" let x of element">{{x}}</td>
    <!-- testing-->

    <ngbd-offcanvas-component [lst]= 'element'> </ngbd-offcanvas-component>
     <button (click) = "edit(indexOfElement)"> Edit</button>
    <button (click) = "delTask(indexOfElement)"> Delete Task</button>
  </tr>

  </tbody>

</table>
<br><br>
<ng-container *ngIf="flag2" class="example-card">

  <mat-card class="cardcontainer1" >
    <mat-card-header >
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Edit Task</mat-card-title>
      <mat-card-subtitle>editing Task number {{this.indextoedit+1}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="cardcontainer2 text-xl-center">

      <tr *ngFor="let element of this.lstTask;let indexOfElement = index ">
        <div *ngIf="indexOfElement===indextoedit">
          <p>Name        : <input placeholder="Name" [(ngModel)]="TaskToEdit.name"></p>
          <br>
          <p>Description : <input [(ngModel)]="TaskToEdit.Description"></p>
          <br>
          <p>Execution Time: <input type="date" class="form-control" id="run_time" placeholder="Run Time" [(ngModel)]="TaskToEdit.extime"></p>
          <br>
          <p>Status      : <input [(ngModel)]="TaskToEdit.status"></p>

        </div>
      </tr>
    </mat-card-content>
    <mat-card-actions class="cardcontainer2 text-xl-center" >
      <button (click)="update()" class="btn-dark">Update</button>

    </mat-card-actions>
    <mat-progress-bar  mode="indeterminate"></mat-progress-bar>
  </mat-card>


</ng-container>




