<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<p *ngFor="let alert of alerts" class="container">
  <ngb-alert  [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
</p>

<ngb-alert  class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>
    Aww yeah, you successfully read this important alert message. This example text is going
    to run a bit longer so that you can see how spacing within an alert works with this kind
    of content.
  </p>
  <hr />
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</ngb-alert>
