<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Paper Stack</title>
  <link rel="stylesheet" type="text/css" href="register.component.css" />
</head>
<body>
<div class="container">
  <section id="content">
    <form action="">
      <h1>Register</h1>
      <p [ngStyle]="{color: 'red'}" class="alert alert-danger mt-3 mb-0" *ngIf="userFlag">*ERROR* : The Name is empty. </p>
      <p [ngStyle]="{color: 'red'}" class="alert alert-danger mt-3 mb-0" *ngIf="lenFlag">*One of the passwords is empty,try again. </p>
      <p [ngStyle]="{color: 'red'}" class="alert alert-danger mt-3 mb-0" *ngIf="confirmFlag">*Passwords are not equal* </p>
      <p [ngStyle]="{color: 'red'}" class="alert alert-danger mt-3 mb-0" *ngIf="empty">*ERROR*,try again </p>
      <p [ngStyle]="{color: 'red'}" class="alert alert-danger mt-3 mb-0" *ngIf="exist">*ERROR* : This user name already exist, try to login </p>
      <p [ngStyle]="{color: 'green'}" class="alert alert-danger mt-3 mb-0" *ngIf="submit">You register successfully, please login </p>
      <div>
        <input type="text" placeholder="Username" required="true" id="username" [(ngModel)]="username" name="name"/>

      </div>

      <div>
        <input type="password" placeholder="Password" required="true" id="password" [(ngModel)]="password" name="password"/>

      </div>
      <div>
        <input type="password" placeholder="confirm Password" required="true" id="confirm_password" [(ngModel)]="confirm" name="confirm"/>
      </div>
      <div>
        <button type="button" class="btn btn-outline-success" (click)="register()">Register</button>
      </div>
    </form><!-- form -->

  </section><!-- content -->
</div><!-- container -->
</body>
</html>




